<div id="canvas">
  <canvas id="draw-area" width="300" height="300"></canvas>
</div>
<div id="controll-panel">
  <p>
    <%= range_field_tag 'pen-width-slider', 1, :min => 1, :max => 20 %>
    <span id="show-pen-width">1</span>px
  </p>

  <p>
    <%= range_field_tag 'pen-color-red-slider', 0, :min => 0, :max => 255 %>
    <span class="red">R</span> <span id="show-pen-red">0</span><br />
    <%= range_field_tag 'pen-color-green-slider', 0, :min => 0, :max => 255 %>
    <span class="green">G</span> <span id="show-pen-green">0</span><br />
    <%= range_field_tag 'pen-color-blue-slider', 0, :min => 0, :max => 255 %>
    <span class="blue">B</span> <span id="show-pen-blue">0</span><br />
    <div id="preview-color"></div><br /><br />
  </p>

  <p>
    <span id="save-button" class="controll-button">保存</span>
  </p>
  <p>
    <span id="clear-button" class="controll-button">消去</span>
  <p>
  <p>
    <span id="return-button" class="controll-button">戻す</span>
  <p>
</div>
<div class="clearfix"></div>

<div id="pictures">
</div>
