canvas#draw-area{
  border: solid 1px black;
}

#canvas{
  float: left;
  margin-right: 30px;
}

#preview_color{
  width: 30px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  float: left;
}

#clear_button,
#save_button{
  cursor: pointer;
  padding: 5px 10px;
  border: solid 1px black;
}

.thumbnail{
  width: 100px;
  height: 100px;
  border: solid 1px #eeeeee;
  margin: 20px;
  cursor: pointer;
}

.clearfix{
  clear: both;
}

.red{
  color: red;
}
.green{
  color: green;
}
.blue{
  color: blue;
}